<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testwidget"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         <!-- 注册该插件 -->
        <receiver android:name="MyWidgetProvider" >
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.wd.appWidgetUpdate" >
                </action>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/mywidget" />
        </receiver>
        
        
        <!-- 更新时间的后台服务 mythou-->
        <service android:name="com.example.testwidget.UpdateService"></service>
        
        <!-- AppWidgetProvider的注册 mythou-->
        <receiver
            android:label="@string/hello_world" 
            android:name="TimeWidgetProvider">
                <intent-filter>
                    <action android:name="android.appwidget.action.APPWIDGET_UPDATE"></action>
                </intent-filter>
                <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/appwidget_time" />
        </receiver>
        
        <!-- ESTTime -->
        <receiver android:name=".ESTTimeProvider"
                  android:label="ESTTimeProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data 
                android:name="android.appwidget.provider" 
            	android:resource="@xml/appwidget_digitalclock"/>            
        </receiver>
        <service android:name=".ESTTimeProvider$UpdateService"/>
        
    </application>

    
    
</manifest>
